<h1> Heroes</h1>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <button class="btn btn-outline-primary" type="button" name="button" [routerLink]="['/heroe','nuevo']">
      Nuevo Heroes
    </button>
  </div>
</div>
<div class="row mt-3 animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
